
.leaflet-container {
    height: 100%;
    width: 100%;
    margin: 0px auto;
}


.leaflet-popup-content-wrapper {
    background-color: rgba(256, 256, 256, 0.7);
}

.info-div{
    font-size: small;
    text-align: center;
    background-color: rgba(256, 256, 256, 0.8);
    margin: 1px auto;
    padding-top: 0.5em;
    padding-left: 0.5em;
    padding-right: 1em;
    padding-bottom: 2px;
    border-radius: 2%;
}


/*CSS Component missing from the internal React-leaflet-draw css*/
.sr-only {
    display: none;
}