
.leaflet-container {
    height: 500px;
    width: 80%;
    margin: 0 auto;
}


.map-container{
    height: 100%;
}

/*CSS Component missing from the internal React-leaflet-draw css*/
.sr-only {
    display: none;
}