
.leaflet-container {
    height: 680px;
    width: 100%;
    margin: 0px auto;
}


.leaflet-popup-content-wrapper {
    background-color: rgba(256, 256, 256, 0.7);
}

.info-div{
    background-color: rgba(256, 256, 256, 0.8);
    padding-left: 2px;
    padding-right: 4px;
    padding-bottom: 2px;
}


/*CSS Component missing from the internal React-leaflet-draw css*/
.sr-only {
    display: none;
}